SPRING_DATASOURCE_URL=jdbc:h2:mem:jobtracker
SPRING_DATASOURCE_DRIVER=org.h2.Driver
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=
JPA_DDL_AUTO=create-drop
JWT_SECRET=
ANTHROPIC_API_KEY=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
